/*  your css code here. If applicable */
.main-container{
	padding:2rem;
	background-color:#f5f5f5;
}
.testimonial{
	padding:1.2rem;
	background-color:wheat;
	border:1px solid gray;
	margin:1rem;
	border-radius:25px;
}
.author{
	text-align:right;
	font-style:italic;
}